<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.javafinal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/titulo_juego">

        </activity>
        <activity android:name=".juegoaleatorio.Juego_a_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_0_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_o_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_abeja_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_bebe_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_caballo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_diciembre_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_elote_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_febrero_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".juegoaleatorio.Juego_galleta_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'
            />
        <activity android:name=".Juego_final_corr"
            android:label="@string/titulo_aleatorio"
            android:theme='@style/AppTheme.NoActionBar'
            android:screenOrientation="portrait"
            />
        <activity android:name=".Random2.Juego_dulce_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_ensalada_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_800_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_1_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_b_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_cafe_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_cebolla_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_gusano_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_hermana_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random2.Juego_t_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random3.Juego_Aguacate_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_blanco_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_cerveza_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_4_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_m_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_junio_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_julio_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_hongo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_jueves_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random3.Juego_pollo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random4.Juego_nieto_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_octubre_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_pan_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_5_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_n_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_agua_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_sobrina_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_queso_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_pez_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random4.Juego_pizza_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random5.Juego_pastel_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_tigre_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_rosa_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_rojo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_6_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_amigo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_amiga_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_raton_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_mama_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random5.Juego_sabado_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random6.Juego_nieto_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_nopal_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_taco_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_sopa_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_v_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_pescado_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_burro_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_chile_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_conejo_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random6.Juego_cocacola_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random7.Juego_chocolate_corr"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_perro"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_papa"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_fruta"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_amarillo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_nuez"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_oso"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_oro"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_vibora"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random7.Juego_z"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random8.Juego_verde"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_vaca"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_zanahoria"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_tia"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_toro"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_refresco"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_plata"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_sandia"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_uva"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random8.Juego_viernes"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random9.Juego_abuela"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_aguila"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_abril"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_abuelo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_aceite"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_azucar"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_arroz"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_ajo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random9.Juego_ardilla"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'
            />
        <activity android:name=".Random9.Juego_agosto"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random10.Juego_azul"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_calabaza"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_cerdo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_coco"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_domingo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_enero"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_fresa"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_gato"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_hamburguesa"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random10.Juego_hija"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>

        <activity android:name=".Random11.Juego_25"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_carne"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_cereza"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_frijol"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_gris"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_hermano"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_huevo"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_jamaica"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_k"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>
        <activity android:name=".Random11.Juego_leche"
            android:label="@string/titulo_aleatorio"
            android:screenOrientation="portrait"
            android:theme='@style/AppTheme.NoActionBar'/>



        <activity
            android:name=".DiccionarioActivity"
            android:label="@string/title_activity_diccionario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>